# Vercel Deployment Environment Variables

# Backend API Endpoint (Points to the deployed vercel server backend)
NEXT_PUBLIC_API_URL=https://medizoserver.vercel.app/api

# Google OAuth Client ID
NEXT_PUBLIC_GOOGLE_CLIENT_ID=427324625620-qbg0q3s9cgu8kd80a9upco0m9147jo1u.apps.googleusercontent.com
